{% extends "base.html" %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="content-main">
        <div class="black-background"></div>
        <div class="white-background"></div>
        <img class="overlay-image" src="{% static 'images/BR-human.jpg' %}" alt="Overlay Image">
        <div class="overlay-text">Мы стремимся к дизайну, качеству, ответственности и упорному труду, чтобы создавать доступные гитары для любого человека и в любом месте</div>
    </div>
{% endblock %}